In [21]:
!git config --global user.name "herguad"
!git config --global user.email "g.s.herrera.s@gmail.com"

In [22]:
!git clone https://github.com/herguad/mood_tracker.git

fatal: destination path 'mood_tracker' already exists and is not an empty directory.

In [23]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [24]:
!git clone https://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@github.com/herguad/mood_tracker.git

fatal: destination path 'mood_tracker' already exists and is not an empty directory.

In [25]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

df = pd.read_csv("/content/mood_tracker/data/moods_cleaned.csv")
df["full_date"] = pd.to_datetime(df["full_date"])

# Basic exploration
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   full_date   750 non-null    datetime64[ns]
 1   weekday     750 non-null    object
 2   mood        750 non-null    object
 3   activities  750 non-null    object
dtypes: datetime64[ns](1), object(3)
memory usage: 23.6+ KB

,full_date,weekday,mood,activities
0,2026-01-07,Wednesday,good,"['relaxed ', ' good sleep ', ' friends ', ' da..."
1,2026-01-06,Tuesday,good,"['relaxed ', ' content ', ' good sleep ', ' ex..."
2,2026-01-05,Monday,meh,"['content ', ' tired ', ' sad ', ' Irritated '..."
3,2026-01-04,Sunday,good,"['grateful ', ' relaxed ', ' medium sleep ', '..."
4,2026-01-03,Saturday,good,"['happy ', ' grateful ', ' medium sleep ', ' f..."

In [26]:
# Mood frequency
df["mood"].value_counts()

# Moods by weekday
df["weekday"] = df["full_date"].dt.day_name()
df.groupby("weekday")["mood"].count().sort_values(ascending=False)
print(df.head())

print("EDA template loaded")

   full_date    weekday  mood  \
0 2026-01-07  Wednesday  good
1 2026-01-06    Tuesday  good
2 2026-01-05     Monday   meh
3 2026-01-04     Sunday  good
4 2026-01-03   Saturday  good

                                          activities
0  ['relaxed ', ' good sleep ', ' friends ', ' da...
1  ['relaxed ', ' content ', ' good sleep ', ' ex...
2  ['content ', ' tired ', ' sad ', ' Irritated '...
3  ['grateful ', ' relaxed ', ' medium sleep ', '...
4  ['happy ', ' grateful ', ' medium sleep ', ' f...
EDA template loaded

In [27]:
df = pd.read_csv("/content/mood_tracker/data/moods_features.csv")

df.info()
df.describe(include="all")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 58 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   full_date     750 non-null    object
 1   weekday       750 non-null    object
 2   mood          750 non-null    object
 3   angry         750 non-null    int64
 4   anxious       750 non-null    int64
 5   bad sleep     750 non-null    int64
 6   bored         750 non-null    int64
 7   cleaning      750 non-null    int64
 8   clouds        750 non-null    int64
 9   cold          750 non-null    int64
 10  content       750 non-null    int64
 11  cooking       750 non-null    int64
 12  date          750 non-null    int64
 13  delivery      750 non-null    int64
 14  desperate     750 non-null    int64
 15  doctor        750 non-null    int64
 16  drink water   750 non-null    int64
 17  eat healthy   750 non-null    int64
 18  excited       750 non-null    int64
 19  exercise      750 non-null    int64
 20  family        750 non-null    int64
 21  fast food     750 non-null    int64
 22  focus         750 non-null    int64
 23  friends       750 non-null    int64
 24  gardening     750 non-null    int64
 25  give gift     750 non-null    int64
 26  good sleep    750 non-null    int64
 27  grateful      750 non-null    int64
 28  happy         750 non-null    int64
 29  heat          750 non-null    int64
 30  homemade      750 non-null    int64
 31  humid         750 non-null    int64
 32  irritated     750 non-null    int64
 33  kindness      750 non-null    int64
 34  laundry       750 non-null    int64
 35  listen        750 non-null    int64
 36  make list     750 non-null    int64
 37  meditation    750 non-null    int64
 38  medium sleep  750 non-null    int64
 39  nap           750 non-null    int64
 40  no meat       750 non-null    int64
 41  pleasuread    750 non-null    int64
 42  rain          750 non-null    int64
 43  relaxed       750 non-null    int64
 44  restaurant    750 non-null    int64
 45  sad           750 non-null    int64
 46  shopping      750 non-null    int64
 47  sleep early   750 non-null    int64
 48  start early   750 non-null    int64
 49  storm         750 non-null    int64
 50  stressed      750 non-null    int64
 51  stretch       750 non-null    int64
 52  sunny         750 non-null    int64
 53  take a break  750 non-null    int64
 54  tired         750 non-null    int64
 55  unsure        750 non-null    int64
 56  walk          750 non-null    int64
 57  wind          750 non-null    int64
dtypes: int64(55), object(3)
memory usage: 340.0+ KB

,full_date,weekday,mood,angry,anxious,bad sleep,bored,cleaning,clouds,cold,...,start early,storm,stressed,stretch,sunny,take a break,tired,unsure,walk,wind
count,750,750,750,750.000000,750.000000,750.000000,750.000000,750.000000,750.000000,750.000000,...,750.000000,750.000000,750.000000,750.000000,750.000000,750.000000,750.000000,750.000000,750.000000,750.000000
unique,750,7,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2023-12-20,Wednesday,good,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,108,488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,0.053333,0.116000,0.022667,0.016000,0.544000,0.598667,0.214667,...,0.405333,0.045333,0.113333,0.022667,0.721333,0.758667,0.118667,0.104000,0.328000,0.294667
std,NaN,NaN,NaN,0.224847,0.320439,0.148938,0.125559,0.498393,0.490495,0.410865,...,0.491284,0.208173,0.317211,0.148938,0.448642,0.428178,0.323612,0.305464,0.469798,0.456197
min,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000